<% messages.each do |message| %>
  <p class="by-at">
    by <strong><%= message.user.username %></strong> 
    at <strong><%= message.created_at.in_time_zone('Sydney') %></strong>
  </p>
  <p class="message-body"><%= message.body %></p>
  <hr>
<% end %>