<div class="container">
    <h3>Search Result</h3> 
    <% if @results.empty? %>
        <p>No item found</p>
    <% else %>
        <%= render 'dresses/card', dresses: @results %>        
    <% end %>
</div> 