// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-header {
    background-image:       
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
      ),
        url("page_header.jpg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    .page-header-text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color:#fff;
        h2 {
            font-size: 5rem;
        }
    }
}

//Style profile.html.erb
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 50%;
    overflow: auto;
    a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    };
    a.active {
        background-color: #ED8A85;
        color: white;
    };
    a:hover:not(.active) {
        background-color: #555;
        color: white;
    };
}
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}