<section class="container">
    <h1>Checkout canceled!</h1>
    <p>
        Checkout has been canceled. Have a look around and come back to pay! 
    </p>
      <%= link_to 'Back to Homepage', dresses_path, class:"btn btn-info" %>
</section>