<section class="container">
    <h1>Thanks for your order!</h1>
    <p>
        We appreciate your business! If you have any questions, please email
        <a href="mailto:hello@sakura-wedding.com">hello@sakura-wedding.com</a>.
    </p>
      <%= link_to 'Back to Homepage', dresses_path, class:"btn btn-info" %>

</section>
