<div class="container">
    <h1>Editing Wedding Dress information</h1>

    <%= render 'form', dress: @dress %>
    <br>
    <%= link_to 'Show', @dress, class: "btn btn-success" %> 
    <%= link_to 'Back', root_path, class:"btn btn-outline-info" %>
</div>